APP_NAME=PLAID
APP_URL=http://localhost:8081
APP_PORT=8081

ACTUAL_URL=http://localhost:8080
ACTUAL_SECRET=XXXXXXX

PLAID_MODE=sandbox
PLAID_CLIENT_NAME=Actual
PLAID_CLIENT_ID=XXXXXXX
PLAID_SECRET=XXXXXXX
PLAID_COUNTRY_CODES=US
PLAID_LANGUAGE=en